# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
ENV/
.venv/
.env/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Test and coverage
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.log
*.pot
*.pyc
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest
.cache
pytest_cache/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Other files
*.DS_Store
*.db
*.sqlite3
